{% load i18n %}

{% block subject %}
{% blocktrans %}Активация аккаунта на типоТвиттере{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<p>Привет, вы получили это письмо, потому что вам нужно завершить процесс активации учетной записи на типоТвиттере.</p>

<p>Для этого выполните 3 шага:</p>
<p>1. Перейдите по <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">ссылке активации</a> и вернитесь к этому письму</p>
<p>2. Перейдите по <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">данной ссылке</a> и снова вернитесь к этому письму</p>
<p>3. Вернитесь к странице регистрации и войдите с использованием своих учетных данных (Имя пользователя и Пароль) :)</p>

<p>Спасибо за использование сайта!</p>

{% endblock html_body %}
